

/* ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
li {
  padding: 10px 20px;
  
  background: url(../imagens/seta.png) no-repeat left center;
  
} */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul a {
  /* border: 1px solid red; */
  width: 200px;
  height: 40px;
  display: block;
  color: rgb(230, 8, 8);
  text-decoration: none;
  text-indent: 40px;
  line-height: 40px;
  
  background: rgb(241, 238, 13) url(../imagens/menu.png);
}
a:hover {
  background: url(../imagens/menu.png) right;
  color: azure;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticas a,
#contato #navegacao .contato a {
  background: url(../imagens/menu.png) right;
  color: azure;
}