* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(170, 168, 168);
}
/*
*** Layout ***
*/

#cabecalho {
    background: rgb(255, 196, 4);
    text-align: center;
    padding: 15px;
    
}
#logo {
    padding: 10px;

}
#menu {
    padding: 10px;

}
/*
*** Formatação do menu ***
*/
.text {
    text-decoration: none;
    
}
#cabecalho a:link, #cabecalho a:visited {
    color: #fcf9f9;
    padding: 7px 12px;
}
#cabecalho a:hover {
    color: #e9890b;
    background: #fff;
}
/*
*** Formatação Geral ***
*/
a:link {
    color: #e9890b;
}
a:visited {
    color: #e9890b;
}
a:hover {
    color: #fff;
    background: #e9890b;
}
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}
.branca {
    color: rgb(253, 253, 253);
}
/*
*** Formatação conteudo ***
*/

.clear {
    clear: none;
}
#principal {
    margin: 15px auto;
    width: 920px;
    background: #e9890b;

}
#conteudo1 {
    background: #fcf9f9;
    width: 650px;
    float: left;
    padding: 5px;
   


}
#conteudo2 {
    background: #fcf9f9;
    width: 235px;
    float: right;
    padding: 5px;
}
#lateral {
    padding: px;
    margin: 12px;
    
}
#categoria {
    padding: px;
    margin: 12px;
    
}
.h {
    
    background: #e2e1e1;
}